<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    {% if not users %}
        No users
    {% else %}
        <lu>
        {% for user in users %}
            <li>
                <a href="{% url 'update_user' user.id %}">{{user}}</a>
                <a href="{% url 'delete_user' user.id %}">Delete</a>
            </li>
        {% endfor %}
        </lu>
    {% endif %}

    <br>

    <a href="{% url 'save_user' %}">New User</a>
</body>
</html>
